body{
  background-color: rgb(204, 236, 251); /*achtergrond kleur*/
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    
    background-color: rgb(157, 170, 250);
}
p {
    color: black;
    text-align: center ;
}
h1 {
    color: black;
    text-align: center;
}
/*begin dropdown menu*/
.navbar {
    overflow: hidden;
    background-color: black;
    font-family: Arial;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
/*positie dropdown*/
  .dropdown {
    float: left;
    width: 100;
  }
  /*instellingen dropdown knop*/
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; 
  }
/**/
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(132, 189, 215); /*kleur als muis op menu knop*/
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(31, 31, 31, 0.4);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: rgb(132, 189, 215); /*kleur als muis over menu*/
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }/*eind menu*/

iframe{ /*spelletje binair bonanza*/
    float: right;
    width: 700px;
    height: 500px;
}
img{ /*randje om foto's*/
  border: solid black 1px;
  
}