ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    
    background-color: rgb(157, 170, 250);
}
p {
    background-color: tomato;
    color: white;
    text-align: left;
}
h1 {
    background-color: dodgerblue;
    color: white;
    text-align: center;
}